$sansFontFamily:        'Droid Sans', 'Karla', "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        'Oxygen Mono', "Courier New", monospace !default;

@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "_icons";
@import "_jquery.nouislider";

$phi: 1.61803398875;

* {
    @include box-sizing( border-box );
}

body {
    font: 100%/1.2 $monoFontFamily;
}

button {
    margin: 0;
    font-family: $monoFontFamily;
}

#viewport {

}

#loading-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 300px;
    font-size: 20px;
    margin: -100px 0 0 -150px;
    text-align: center;
    padding-top: 160px;
    background: image-url('bg-collider.png') no-repeat center 0;
}

.hidden {
    display: none;
}

.mute {
    color: #888;
}

a {
    text-decoration: none;
}

.toggler {

    font-size: 1em;
    margin: 0.5em 0;

    button {
        cursor: pointer;
        padding: 0.7em 1em 0.7em;
        font-size: 14px;
        width: 8em;
        
        &:first-child {
            border-left-width: 1px;
            @include border-radius( 4px 0 0 4px );
        }
        &:last-child {
            @include border-radius( 0 4px 4px 0 );
        }
    }
}

#site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 2;

    padding: 0.35em 1em;
    @include box-shadow( 0px 2px 7px rgba(0,0,0,0.5) );

    h1 {
        display: inline-block;
        margin: 0 1em 0 0;
        font-size: 1.5em;
        font-family: $sansFontFamily;
        vertical-align: middle;

        small {
            font-size: 0.5em;
        }

        small,
        a {
            color: #888;
        }
    }

    ul, ul > li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul {
        vertical-align: middle;
        margin-top: 0.2em;
        margin-left: 1em;
        display: inline-block;
        
        & > li {
            display: inline-block;
            margin-right: 1em;
        }

        a {
            display: block;
            padding: 0.5em;
            text-decoration: none;
            @include border-radius( 5px );
        }
    }
}

$sidebarWidth: 300px;
$sidebarPeek: 40px;

#sidebar {
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 0;
    width: $sidebarPeek;
    z-index: 3;
    @include box-shadow( 1px 4px 7px rgba(0,0,0,0.5) );

    .title {
        margin: 1.5em 0 0.5em;
    }

    .peek-controls {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -50px;
        height: 100px;
        width: $sidebarPeek;
        text-align: center;
    }

    .ctrl-toggle {
        @extend [data-icon]:before;
        width: 100%;
        line-height: 0;
        padding: 0;
        font-size: 18px;
        height: 2em;
        padding: .2em 0;
        margin-bottom: 0.2em;
        border: none;
        text-indent: -9999em;
        overflow: hidden;
        @include border-radius( 5px );

        &:after {
            text-indent: 0;
            display: block;
        }

        &.ctrl-toggle-sidebar:after {
            @extend .icon-equalizer:before;
        }

        &.ctrl-toggle-video:after {
            @extend .icon-youtube-2:before;
        }
    }
}

#video-area,
#settings-area {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: $sidebarPeek;
    margin-left: -582px;
    overflow: visible;
    width: 582px;
    padding: 12px 10px 6px;
    @include border-radius( 0 5px 5px 0 );
    @include transform( translateZ(0) );
    @include transition( margin-left 0.3s ease-out );
}

#video-area {
    width: 582px;
    height: 339px;
}

#settings-area {
    width: 260px;
    margin-left: -260px;
}

.reveal #settings-area {
    margin-left: 0;
}

.reveal-video #video-area {
    margin-left: 0;
}

#about {
    margin: 154px auto;
    width: 600px;
    font-family: $sansFontFamily;
    line-height: 1.6;

    h1 {
        font-size: $phi * 1em;
        margin-bottom: 1em;

        small {
            font-size: 0.5em;
        }
    }

    p {
        margin-bottom: 1em;
    }

    .ctrl-back {
        display: inline-block;
        font-size: 20px;
        padding: 0.5em 1em;
        margin-bottom: 3em;

        @include border-radius( 5px );
    }

    #disqus_thread {
        margin-top: 3em;
    }
}

#periodic-table {
    position: absolute;
    top: 100px;
    left: $sidebarPeek;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 1;
    padding-right: 0;

    .contents {
        position: relative;
        margin: 40px 40px 360px;
        padding-right: 40px;

        @include box-sizing( content-box );

        @include transform( translateZ(0) );
        @include transition( all 0.3s ease-out );
    }

    .info {
        display: none;
        width: 368px;
        height: 222px;
        padding: 1.6em 1.6em 1.6em 0;
        overflow: hidden;
        z-index: 3;
        @include border-radius( 5px );

        .symbol {
            display: block;
            width: 2.6em;
            text-align: center;
            float: left;
            font-size: 60px;
            font-family: 'Droid Sans', sans-serif;

            &:after {
                content: attr(title);
                display: block;
                margin-top: 0.8em;
                font-size: 16px;
                font-family: $monoFontFamily;
            }
        }

        .above {
            @include clearfix;
            margin-bottom: 1em;
        }

        .details {
            overflow: hidden;
            padding-top: 1em;
            font-size: 14px;

            .line {
                margin-bottom: 1em;
                text-transform: capitalize;

                div {
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    width: 50%;
                }

                div:first-child {
                    width: 40%;
                    text-align: right;
                }
            }
        }

        .magnetic-response {
            position: relative;
            width: 100%;
            text-align: center;

            abbr {
                position: relative;
                z-index: 0;
                display: inline-block;
                width: 4.8em;
                height: 2em;
                margin-right: -0.65em;
                padding: 0.5em 0;
                background: black;
                text-align: center;
            }

            data {
                position: absolute;
                bottom: -2em;
                display: inline-block;
                text-align: center;
                width: 4em;
                margin-left: -2em;

                &:after {
                    content: "";
                    position: absolute;
                    border-left: 1px solid black;
                    top: -1em;
                    left: 50%;
                    margin-left: -1px;
                    height: 1em;
                    z-index: -1;
                }
            }

            abbr.stp {
                color: transparent !important;
            }
        }
    }
}

.element {
    font-size: 30px;
    width: 2.1em;
    height: 2.8em;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
    
    @include transition( transform 0.5s ease-in-out );

    .inner {
        width: 100%;
        height: 100%;
    }
    
    .number {
        position: absolute;
        top: 0.4em;
        right: 0.5em;
        font-size: 12px;
    }

    .symbol {
        position: absolute;
        top: 0.75em;
        left: 0px;
        right: 0px;
        // font-weight: bold;
        font-family: 'Droid Sans', sans-serif;
        
        -webkit-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.15));
           -moz-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.15));
            -ms-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.15));
             -o-filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.15));
                filter: drop-shadow(0px 0px 20px rgba(0,255,255,0.15));
    }

    .details {
        position: absolute;
        bottom: .4em;
        left: 0px;
        right: 0px;
        font-size: 10px;
        text-rendering: optimizeLegibility;
        word-wrap: break-word;
        line-height: 1;
    }
}

#periodic-table {
    .info {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }
}

#periodic-table.mini-table {

    .contents {
        margin: 90px 100px;
    }

    .element {
        font-size: 16px;

        .symbol {
            top: 1.3em;
        }

        .number {
            top: auto;
            top: 0.2em;
            right: 0.25em;
        }

        .details {
            display: none;
        }
    }
}

#site-header .controls {
    margin-top: 10px;

    .title {
        float: left;
        margin-top: 0.4em;
    }
}

.ctrl-temperature {
    margin-left: 130px;

    .noUi-base {
        height: 30px;
        width: 100%;
    }
    .noUi-background {
        background: #004799; /* Old browsers */
        background: -moz-linear-gradient(left,  #004799 0%, #ff0000 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#004799), color-stop(100%,#ff0000)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #004799 0%,#ff0000 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #004799 0%,#ff0000 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #004799 0%,#ff0000 100%); /* IE10+ */
        background: linear-gradient(to right,  #004799 0%,#ff0000 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004799', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */
    }
    .noUi-handle {
        height: 36px;
        width: 4em;
        text-align: center;
        padding-top: 0.5em;
        cursor: pointer;
        margin: -4px 0 0 -23px;
        @include transition( border-color 0.1s ease-out );
        @include border-radius( 3px );
    }
    .noUi-active:after {
        display: none;
    }
}


//////////////////////////////////
// Site skins controlled by mixin
// 
@mixin site-skin(
    $background: #333,
    $text: #aff,
    $textHeading: #fafafa,
    $highlight: rgba(0, 255, 255, 1),
    $link: rgba(0, 255, 255, 1),
    $elementText: rgba(255, 255, 255, 0.75),
    $diaColor: blue,
    $paraColor: rgb(120, 0, 0),
    $paraColor2: black,
    $antiColor: cyan,
    $antiColor2: white,
    $ferroColor: rgb(255, 0, 0),
    $ferroColor2: black
){

& {
    background: darken($background, 5);
}

#about {
    color: darken($textHeading, 15);

    .ctrl-back {
        background: darken($background, 10);
        color: $textHeading;
        // border: 2px solid darken($background, 10);

        @include transition( background 0.3s ease-out );

        &:hover {
            background: darken($background, 15);
        }

        &:active {
            background: darken($background, 15);
        }     
    }
}

.toggler {

    button {
        background: $background;
        color: $text;
        border: 1px solid transparentize($highlight, 0.6);
        @include transition( all 0.3s ease-out );

        &:hover {
            border-color: transparentize($highlight, 0.2);
        }

        &:active {
            // color: yellow;
        }

        &.on {
            color: mix($background, $highlight, 98);
            background: transparentize($highlight, 0.2);
            border-color: transparentize($highlight, 0.2);
        }
    }
}

#site-header {
    background: $background;
    color: $text;
    
    h1 {
        color: $textHeading;
    }

    a {
        color: $textHeading;
    }

    ul a {
        background: transparentize($highlight, 1);
        color: $textHeading;
        border: 2px solid $background;

        @include transition( background 0.3s ease-out );

        &:hover {
            background: darken($background, 10);
        }

        &:active {
            background: darken($background, 15);
        }        
    }
}

#sidebar {
    background: $background;
    color: $highlight;
    @include transition( transform 0.3s ease-out );

    .ctrl-toggle {
        background: transparentize($highlight, 1);
        color: $textHeading;
        cursor: pointer;
        border: 2px solid $background;
        
        @include transition( background 0.3s ease-out );
    }
}

.reveal #sidebar .ctrl-toggle-sidebar {
    background: darken(mix($background, $highlight, 60), 5);
}

.reveal-video #sidebar .ctrl-toggle-video {
    background: darken(mix($background, $highlight, 60), 5);
}

#sidebar .ctrl-toggle {
    &:hover {
        background: darken($background, 10);
    }

    &:active {
        background: darken($background, 15);
    }        
}

#video-area,
#settings-area {
    color: $highlight;
    background: $background;
    border: 1px solid darken($background, 10);
}

#periodic-table {
    background: darken($background, 5);

    .info {

        background: $background;
        color: $text;
        border: 1px solid darken($background, 10);

        .symbol {
            color: $elementText;
        }

        .details {
            color: darken(invert($background), 15);
        }

        .magnetic-response {
            abbr {
                border: 1px solid mix(invert($background), $background, 30);
            }

            data:after {
                border-color: $highlight;
            }
        }
    }
}

.element {
    border: 1px solid transparentize(lighten($highlight, 24), 0.75);
    
    .inner {
        background: $background;
        outline: 1px solid transparent;
        @include transition( background-color 0.3s ease-out, outline-color 0.3s ease-out );
    }
    
    &:hover .inner {
        .symbol {
            color: $highlight;
        }

        outline-color: $highlight;
    }
    
    .number {
        color: transparentize($highlight, 0.4);
    }

    .symbol {
        color: $elementText;
        @include transition( color 0.3s ease-out );
    }

    .details {
        color: transparentize(mix($highlight, $text, 5), 0.3);
        text-rendering: optimizeLegibility;
        word-wrap: break-word;
        line-height: 1;
    }
}

#periodic-table.magnetic {
    
    [data-magnetic-order="dia"] > .inner,
    .info abbr.dia,
    .element.dia > .inner {
        background: $diaColor;
    }

    [data-magnetic-order="ferro"], 
    .info abbr.ferro,
    .element.ferro {
        background: $ferroColor2;

        &,
        .inner > * {
            color: invert($ferroColor2);
        }

        .inner {
            background: none;
        }

        &:after {
            position: absolute;
            top: 0;
            z-index: -1;
            content: "";
            display: block;
            height: 50%;
            width: 100%;
            background: $ferroColor;
        }
    }

    [data-magnetic-order="anti"], 
    .info abbr.anti,
    .element.anti {
        background: $antiColor2;
        color: black;

        &,
        .inner > * {
            color: invert($antiColor2);
        }

        .inner {
            background: none;
        }

        &:after {
            position: absolute;
            top: 0;
            z-index: -1;
            content: "";
            display: block;
            height: 50%;
            width: 100%;
            background: $antiColor;
        }
    }

    [data-magnetic-order="para"] .inner, 
    .info abbr.para,
    .element.para .inner {

        &,
        > * {
            color: invert($paraColor2);
        }
        
        @include background(
            linear-gradient(45deg, $paraColor2 25%, transparent 25%, transparent), 
            linear-gradient(-45deg, $paraColor2 25%, transparent 25%, transparent), 
            linear-gradient(45deg, transparent 75%, $paraColor2 75%), 
            linear-gradient(-45deg, transparent 75%, $paraColor2 75%)
            );

        background-color: $paraColor;
        background-size: 50%;
    }
}

.ctrl-temperature {

    .noUi-base {
        border-color: darken($background, 50);
    }
    .noUi-handle {
        background: $background;
        color: $highlight;
        border: 1px solid darken($background, 50);

        &:hover {
            border-color: transparentize($highlight, 0.6);
        }
    }
}

} // mixin

body {
    @include site-skin(
        $diaColor: saturate(darken(#C4D4E6, 55), 15)
    );
}

body.light-skin {
    @include site-skin(
        $background: #fff,
        $text: #411,
        $textHeading: #222,
        $highlight: rgba(180, 0, 0, 1),
        $link: rgba(200, 0, 0, 1),
        $elementText: rgba(0, 0, 0, 0.75),
        $diaColor: #C4D4E6,
        $antiColor2: #fafafa
    );
}

#viewport #periodic-table .contents {
    background: image-url('wm-big-logo-inverse.png') no-repeat 200px -20px;
    background-size: 260px;
}

.light-skin #viewport #periodic-table .contents {
    background: image-url('wm-big-logo.png') no-repeat 200px -20px;
    background-size: 260px;
}

#viewport #periodic-table.mini-table[data-table-style="short"] .contents {
    background-position: 200px 0;
    background-size: 130px;
}
